.events {
  flex-grow: 1;
  margin-top: 0.3rem;
  width: 100%;
}

.events .event {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  background: rgba(83, 50, 66, 0.5);
  color: white;
}

.event.isHighlighted {
  background: rgba(83, 50, 66, 1);
}
