.day {
  background: transparent;
  /* position: relative; */
  border: 1px solid rgb(77, 76, 77);

  /* 7 * 6 bordered full bleed grid */
  width: calc((100vw - (14 * 1px)) / 7);
  height: calc(((100vh - (14 * 1px)) - 103px) / 6);
}

.cellButton {
  margin: 0;
  border: 0;
  width: inherit;
  height: 100%; 
  background: transparent;
  display: flex;
  padding: 0;
  flex-direction: column;
  outline: none;
  color: white;
}

.isCurrentPeriod {
  background: rgb(39, 39, 39);
}

.cellButton header {
  justify-content: flex-end;
  display: flex;
  font-size: 1rem;
  color: rgb(73, 73, 73);
  width: inherit;
}

.cellButton header.isCurrentPeriod {
  color: white;
}

.dayDate {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.dayDate.isToday {
  color: #ffbe00;
}
