.day {
  background: transparent;
  border: 1px solid rgb(77, 76, 77);

  /* 7 * 6 bordered full bleed grid */
  width: calc((100vw - (14 * 1px)) / 7);
  height: calc(((100vh - (14 * 1px)) - 103px) / 6);
}

.current {
  background: rgb(39, 39, 39);
}

.day header {
  justify-content: flex-end;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  color: rgb(73, 73, 73);
}

.day header.current {
  color: white;
}
