.addEvent {
  padding: 1.5rem;
}

input {
  background: transparent;
  border: 0;
  outline: none;
  color: white;
  width: 100%;
}

.dateInputs {
  display: flex;
  margin-top: 1rem;
}

.dateInputs input {
  font-size: 1rem;
}

.titleInput {
  font-size: 2rem;
}

.locationInput {
  font-size: 1.3rem;
}

.monthInput {
  width: 5.5rem;
}

.dayInput {
  width: 1.8rem;
}

.yearInput {
  width: 3rem;
}
